<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="/style.css">
    
</head>
<body>
    <h1>Clarissa's Recipes!</h1>

    <p>Favorite food: arroz con pollo </p>
    <p>Favorite cooking experience: cooking with family and friends </p>
    
    <img src="/images/lilguy.png" alt="Lil Guy" class="corner-image">

    <!-- Navigation links styled as buttons -->
    <div class="button-container">
        <a href="/recipeslist" class="button">See All Recipes</a>
        <a href="/recipes/add" class="button">Add New Recipe</a>
    </div>
</body>
</html>
